.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  max-height: 700px;
}



.login-logo-container{
  position: relative;
  left: 30px;
  width: 357px;
  height: 191px;
  z-index: -1;
}

.prompt-create-user{
  font-size: 20px;
  font-weight: 520;
  position: relative;
  padding: 5px 10px;
  left: 20px;
  bottom: 80px;
  border-radius: 25px;
  background-color: rgba(211, 211, 211, 0.41);
}

