.donate-form {
  display: flex;
  height: 500px;
  flex-direction: column;
  align-self: center;
  padding: 10px;
  max-width: 320px;
}

.text-field {
  display: block;
  padding: 10px;
  margin: 5px;
  height: 150px;
  border: solid 1px black;
  border-radius: 8px;
  max-width: 203px;
  /* background-color: var(--input-bg-color); */
  color: var(--input-font-color);
}

.select-list {
  display: block;
  padding: 10px;
  margin: 5px;
  height: 45px;
  border: solid 2px black;
  border-radius: 8px;
  width: 95%;
  max-width: 203px;
  background-color: white;
  color: var(--input-font-color);
}

.donate-address{
  background-color: white;
}
.donate-separator{
  margin: 10px 0;
}

.donate-label{
  margin: 5px;
  color: var(--input-font-color);
}
