.donate{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  max-height: 700px;
}

.back-arrow{
  margin-right: 200px;
  background: transparent;
  border: none;
  font-size: 2em;
  color: var(--primary-color);
}