* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  height: 500px;
  flex-direction: column;
  align-self: center;
  padding: 10px;
  max-width: 320px;
}

input {
  display: block;
  padding: 5px;
  margin: 5px;
  border: solid 1px black;
  border-radius: 8px;
  max-width: 203px;
  background-color: #c8d5b9;
  color: #676767;
}

input[type="submit"] {
  max-height: 54px;
  max-width: 203px;
  border-radius: 60px;
  background-color: #8fc0a9;
}
